*~

Code/dec_ricardo_frame0000.ply
Code/dec_ricardo_frame0000_step2_down1.ply
Code/dec_ricardo_frame0001.ply
Code/longdress_vox10_1300_d_1_s_1.bin
Code/longdress_vox10_1300_d_1_s_1.ply
Code/longdress_vox10_1300_d_1_s_2.bin
Code/longdress_vox10_1300_d_1_s_2.ply
Code/longdress_vox10_1300_d_1_s_3.bin
Code/longdress_vox10_1300_d_1_s_3.ply
Code/ricardo_frame0000.bin
Code/ricardo_frame0001.bin
*.ply
*.bin
*.asv
